Static {
    content-align: center middle;
    border: solid darkred;
}

Screen {
    layout: vertical;
    align: center middle;
}

#envVarPanel {
    height: 1fr;
    width: 50%;
}

#starredReposCount {
    height: 1fr;
    width: 50%;
}

.row {
    # content-align: center middle;
    content-align: center middle;
    height: 1fr;
    background: gray;
    align: center middle;
}