Static {
    # content-align: center middle;
}

Screen {
    layout: vertical;
    align: center middle;
}

#envVarPanel {
    height: 1fr;
    width: 50%;
}

#metadataPanel {
    height: 1fr;
    width: 50%;
}

.row {
    content-align: center middle;
    height: 1fr;
    align: center middle;
}

#checkReleases {
    margin-right: 1;
}

#checkStarred {
    margin-left: 1;
}